<div class="col-md-6">
    <div class="justify-content-center text-center">
        <h2>Cargar Servicio</h2>
        <form class="form-inline justify-content-center">
            <div class="form-row form-inline justify-content-center">
                <div class="form-group  form-inline justify-content-center">
                    <label for="inputEmail4">Nombre del Servicio <small style="color:red">*</small></label>
                    <input type="text" class="form-control" [(ngModel)]="service_name" name="service_name"
                        id="service_name" required>
                </div>
                <div class="form-group form-inline justify-content-center">
                    <label for="inputEmail4">Tipo de Servicio <small style="color:red">*</small></label>

                    <select class="form-select" aria-label="Default select example" [(ngModel)]="service_type"
                        name="service_type" id="service_type" selected>
                        <option value="1" >FoodTruck</option>
                        <option value="2">Cathering</option>
                        <option value="3">Mudanza</option>
                        <option value="4">Muñecos Inflables</option>
                        <option value="5">Canto</option>
                    </select>
                </div>
                <div class="form-group  form-inline justify-content-center">
                    <label for="inputEmail4">Descripcion <small style="color:red">*</small></label>
                    <input type="email" class="form-control" [(ngModel)]="description" name="description"
                        id="description" required>
                </div>
                <div class="form-group  form-inline justify-content-center">
                    <label for="inputEmail4">Whatsapp </label>
                    <input class="form-control" placeholder="Numero de Whatsapp" [(ngModel)]="whatsapp" name="whatsapp"
                        id="whatsapp">
                </div>
                <div class="form-group  form-inline justify-content-center">
                    <label for="inputEmail4">Instagram</label>
                    <input class="form-control" placeholder="Ingrese URL de Instagram" [(ngModel)]="instagram"
                        name="instagram" id="instagram">
                </div>
                <div class="form-group  form-inline justify-content-center">
                    <label for="inputEmail4">Twitter</label>
                    <input class="form-control" placeholder="Ingrese URL de Twitter" [(ngModel)]="twitter"
                        name="twitter" id="twitter">
                </div>

                <div class="form-group form-inline justify-content-center">
                    <label for="inputPassword4">Fotos <small style="color:red">*</small></label>
                    <input #foto class="form-control" #img accept="image/*" (change)="onFileChange($event)" required
                        name="images[]" id="images[]" multiple type="file" required>
                </div>
            </div>
            <br>
            <button (click)="upd()" type="submit" class="btn btn-primary">Cargar Servicio</button>
            <br>
            <br>
            <span style="color:red" *ngIf="error"> {{ error }} </span>
        </form>
    </div>

</div>