<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="wrapper fadeInDown">
  <div id="formContent">



    <div class="fadeIn first">
      <img src="../../assets/images/trade.png" id="icon" alt="User Icon" width="200" />
    </div>


    <form>
      <h4>Registro</h4>
      <input type="text" name="email" class="fadeIn third" [(ngModel)]="email" placeholder="Email" required />
      <input type="text" name="name" class="fadeIn third" [(ngModel)]="name" placeholder="Nombre" required />
      <input type="text" name="surname" class="fadeIn third" [(ngModel)]="surname" placeholder="Apellido" required />
      <input type="text" class="fadeIn third" [(ngModel)]="date" placeholder="Fecha(AAAA-MM-DD)" name="date" required />
      <input type="text" class="fadeIn third" [(ngModel)]="password" placeholder="Contraseña" name="password"
        required />


      <input type="submit" (click)="register()" class="fadeIn fourth" value="Registrarse">

    </form>
    <div class="row"><span name="error">{{ error }} </span></div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a routerLink="" class="underlineHover">¿Tiene cuenta? ¡Ingrese!</a>
    </div>

  </div>
</div>